.header-container {
    display: flex;
    padding: 20px 10px;
}

.push {
    margin-left: auto;
}
a {
    margin-right: 10px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
